<div class="container border mt-5">
  <div class="main-div row col-sm-12 shadow-lg">
    <div class="inner-div row">
      <div class=" col-sm-12 col-lg-5 ">
        <div class="first-card card border-0 d-flex align-items-center " >
          <img src="../assets/logo.webp" class="card-img-top w-50 h-50"alt="">
          <p class="card-text text-primary m-0">NSOC DASHBOARD</p>
          <div class="card-body">

          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-5 p-0">
        <div class="card border-0 text-white" style="background-color:#14209a;">
          <div class="card-body">
            <form [formGroup]="LoginForm" (ngSubmit)="loginForm()">
              <div class="form-group mb-2">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" formControlName="Email" class="form-control"
                  id="exampleInputEmail1" required aria-describedby="emailHelp"
                  placeholder="Enter email">
                <small class="text-danger"
                  *ngIf="LoginForm.get('Email')?.touched
                  && LoginForm.get('Email')?.hasError('required')">Email is
                  required</small>
              </div>
              <div class="form-group mb-2">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" formControlName="Password"
                  class="form-control" required id="exampleInputPassword1"
                  placeholder="Password">
                <small
                  *ngIf="LoginForm.get('Password')?.touched &&
                  LoginForm.get('Password')?.hasError('required')"
                  class="text-danger"> Password is required
                </small>
                <small
                  *ngIf="LoginForm.get('Password')?.touched &&
                  LoginForm.get('Password')?.hasError('minlength')"
                  class="text-danger">Password length
                  minimum 7 characters
                </small>

              </div>
              <div class="form-check d-flax row ">
                
              <div class="row  ">
                <div class="col-sm-12 col-md-6">
                  <input type="checkbox" formControlName="Remember"
                    class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">REMEMBER
                    ME</label>
                </div>
                <div class="col-sm-12 col-md-6">
                  <a class="nav-link" href="#">Recover Password</a>

                </div>
                </div>
               
              </div>
              <button type="submit"[disabled]="LoginForm.invalid" class="btn
                btn-primary w-100 my-2">SIGN IN</button>
            </form>
          </div>
        </div>




      </div>
    </div>
  </div>
  </div>
 